
.wine-list {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
    
    
  }
  body{
    background-color: rgb(60, 10, 56);
  }
  
  .h2 {
    font-size: 24px;
    margin-bottom: 20px;
    font-family: 'Dancing Script', cursive;
font-family: 'Great Vibes', cursive;
font-family: 'Instrument Serif', serif;
font-family: 'Poltawski Nowy', serif;
    color: burlywood;
  }
  
  .figure {
    display: inline-block;
    margin: 10px;
    text-align: center;
  }
  
  .img {
    width: 500px;
    height: 500px;
    object-fit: cover;
    border-radius:15%;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  }
  .img:hover {
  opacity: 0.15;
  
  }
  .figcaption {
    margin-top: 10px;
    font-size: 18px;
    font-weight: bold;
  }
  .nav {
    width: 200px;
    height: 1000px;
    background-color: #f1f1f1;
    padding: 20px;
  }
  
  .ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .li {
    margin-bottom: 10px;
  }
  
  .a {
    text-decoration: none;
    color: #333;
  }
  
  .h1{

    font-family: 'Dancing Script', cursive;
font-family: 'Great Vibes', cursive;
font-family: 'Instrument Serif', serif;
font-family: 'Poltawski Nowy', serif;
  }
 
  .h2{
   
    color: #f1f1f1;
      }
      .p{
        
        font-family: 'Dancing Script', cursive;
font-family: 'Great Vibes', cursive;
font-family: 'Instrument Serif', serif;
font-family: 'Poltawski Nowy', serif;

        color: #b5b1b1;
        text-align: justify; 
        text-decoration: wavy;  
        text-decoration-style: unset; 
      }
      .span{
        color: blue;
        font-weight: bold;
        font-size: 20px;
        

          }
@media screen {min-width: 600px;
  .img{

 width: 50%;   
}
}
          